<?xml version="1.0" encoding="UTF-8"?>
<Configuration
        name="InfinispanServerConfig" monitorInterval="60" shutdownHook="disable">
    <Appenders>
        <!-- Colored output on the console -->
        <Console name="STDOUT">
            <PatternLayout pattern="{logging.console.pattern}"/>
        </Console>

        <!-- Rolling file -->
        <RollingFile name="FILE" createOnDemand="true"
                     fileName="{logging.file.path}"
                     filePattern="{logging.file.path}.%d\{yyyy-MM-dd}-%i">
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="100 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <PatternLayout pattern="{logging.file.pattern}"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="STDOUT" level="{logging.console.level.upperCase()}"/>
            <AppenderRef ref="FILE" level="{logging.file.level.upperCase()}"/>
        </Root>

        {#each logging.categories}
        <Logger name="{it.key}" level="{it.value.upperCase()}"/>
        {/each}
    </Loggers>
</Configuration>
